#logo{ 
    height:50px;
    width:180px;
    float:left;
    margin-left: -30px;
}
h2{
    font-family: 'Kalam';
    font-size: 3em;
    text-shadow: 2px 2px 5px #888888;
    text-align: center;
    margin-top: 82px;
}
.container{
    text-align: center;
}
label{
    font-family: 'Kalam';
    text-align:center;
    font-size: 20px;
}
.text{
    padding: 8px 16px;
    line-height: 5px;
    font-size: 17px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 0 6px 6px 0;
    -webkit-appearance: none;
    color: #888888;
    border: 1px solid #888888;
    background: #ffffff;
    font-family: 'Kalam';
    transition: border .3s ease;
    margin-right: 10px;
}
.text:focus-within {
    outline: none;
    border-color: rgb(53, 234, 200);
}
span {
    display: inline-block;
    text-align: center;
    padding-left:7px;
    padding-right: 7px;
    padding-top:8px;
    padding-bottom: 9px;
    font-size: 18px;
    font-family: 'Kalam';
    background: rgb(53, 234, 200);
    border-radius:  6px 0 0 6px ;
    transition:border .3s ease;
    transition:  color .3s ease;
}

.button {
  margin: 10px;
  padding: 10px 18px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-family: 'Kalam';
  font-size: 18px;
  font-weight: bolder;
  box-shadow: 0px 0px 14px -7px rgb(53, 234, 200);
  background-image: linear-gradient(45deg, rgb(53, 234, 200) 0%, rgb(38, 255, 178)  51%, rgb(53, 202, 200)  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-position: right center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
}